body{
	background-image: url("Img/resultado de pesquisa cabecalho menor.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

#bigdiv {
	width: 1366px;
	height: 768px;
	margin: auto;
	margin-top: 0px;
}

/*CABECALHO*/
#logosuperior {
	width: 49.4528px;
	height: 49.4528px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 4px 6px 4px 4px rgba(0, 0, 0, 0.25); 
	float: left;
	margin-left: 10px;
}
	#logosuperior img {
		margin: auto;
		width: 49.4528px;
		height: 49.4528px;
	}

#menu {
	width: 49.4528px;
	height: 49.4528px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 4px 6px 4px 4px rgba(0, 0, 0, 0.25); 
	float: right;
	margin-left: 10px; 
}

/*CONTEUDO CASCATAS*/


/*MAPA*/




