/*-----------------CONTEUDO CASCATAS----------------*/

#basecascatas {
	background-color: none;
	width: 670.8864px;
	height: 613.4593px;
	float: left;
}

/*CABECALHO CASCATAS*/
#cabecalho {
	width: 100%;
	height: 31.9919px;
	margin-top: 33.3817px;
}
	.cabecalho2 {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 12px;
		color : rgb(153, 153, 153);
		text-align: center;
		line-height: auto;
		margin-left: 94.543px;
	}

	#nomeousistema {
		width: 131.3903px;
		height: 31.9919px;
		float: left;
		/*background-color: aliceblue;*/
		margin-left: 99.163px;
	}
	#disponibilidade {
		width: 112.4753px;
		height: 31.9919px;
		float: left;
		/*background-color: black;*/
		margin-left: 98.701px;
	}
	#distanciadevc {
		width: 58.9px;
		height: 31.9919px;
		float: left;
		/*background-color: burlywood;*/
		margin-left: 70.701px;
	}

/*PREVIEW CASCATAS*/

.previewcascatas { /*conf geral*/
	width: 631.1433px; 
	height: auto;
	overflow: auto;
	margin-bottom: 15.6065px;
	margin-left: 39.7431px;
	float: left;
	background : rgba(255, 255, 255, 1);
	border-radius : 12px;
	box-shadow: inset 0px 0px 6px 4px rgba(51, 51, 51, 0.2);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  	font-size : 12px;
	text-align: center;
  	color : rgb(35, 31, 32)
}

/*.previewcascatas:nth-of-type(1),
.previewcascatas:nth-of-type(2) {
  margin-bottom: 10px;
} duvida sobre selecao*/

.iconemesa {
	width: 40.8398px;
	height: 42.2541px;
	border-radius: 50%;
	margin-top: 1px;
	margin-left: -17px;
	position: absolute;
	background-color: rgba(236, 233, 98, 1);
} 
	.iconemesa img {
		width: 26.495px;
		height: 26.495px;
		margin: auto;
		padding-top: 15.963px;
	}

.identificacao {
	width: 206.1641px;
	height: 19.1734px;
	float: left;
	margin-top: 14.188px;
	margin-left: 27.717px;
	padding-top: 3px;
	font-weight : bold;
}

.datadisp {
	width: 117.475px;
	height: auto;
	float: left;
	margin-left: 55.543px;
	margin-top: 4.5px;
	padding-top: 12px;
	font-weight : bold;
}

.km {
	width: 52.8691px;
	height:auto;
	float: left;
	margin-top: 5px;
	margin-left: 64.701px;
	padding-top: 12px;
	font-weight : bold;
}

.setacascata {
	width: auto;
	height: auto;
	float: left;
	margin-left: 39.9918px;
	margin-top: 17.6351px;
}
	.setacascata img {
		width: 25.8885px;
		height: 13.7299px;
	}

/*----------------------CASCATA ABERTA----------------------*/
.escondidoaberto {
	width: 632.4643px;
	height: 347.249px;
	float: left;
	margin-left: 33.745px;
	background-color: rgba(255, 255, 255, 1);
	/*box-shadow: inset 0px 0px 6px 4px rgba(51, 51, 51, 0.2);*/
	display: block;
}

/*----------------------------------------------*/
.titulo {
    width: 184.6068px;
    height: 19.5349px;
    float: left;
    margin-top: 7.5px;
    margin-left: 65.1315px;
    line-height: 19.5349px;
}

.statusandamento {
    width: 184.6068px;
    height: 19.5349px;
    float: left;
    margin-top: 7.5px;
    margin-left: 10.492px;
    line-height: 19.5349px;
}

.formato{
    width: 93.3858px;
    height: 19.5349px;
    float: left;
    margin-top: 7.5px;
    margin-left: 11.1px;
    margin-right: 78.71px;
    line-height: 19.5349px;
}

.tema {
    width: 121.63px;
    height: 24.8198px;
    float: left;
    margin-top: 8.3px;
    background : rgba(236, 233, 98, 0.51);
    border-radius : 12px;
    line-height: 24.8198px;

}
    #tema1{
        margin-left: 68.4717px;
    }

    #tema2{
        margin-left: 10.0881px;
    }

.statusjogadores{
    width: 163.4389px;
    height: 19.8461px;
    float: left;
    margin-left: 54.27px;
    margin-top: 10.92px;
    line-height: 19.5349px;
}

.sinopse {
	width: 496.5814px;
	height: 139.7px;
	float: left;
	margin-top: 21.3731px;
	margin-left: 48.191px; 
	border-left: solid 4.4216px;
	border-color: rgba(236, 233, 98, 1);
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	color: rgb(77, 77, 77);
}

.like {
	width: auto;
	height: auto;
	float: left;
	border-radius: 50%;
	margin-top: 26.33px;
	margin-left: 48.191px;
	box-shadow: 4px 3px 4px 2px rgba(0, 0, 0, 0.2);
}
	.like img {
		width: 20.4351px;
		height: 16.9273px;
	}

.denunciar {
	width: auto;
	height: auto;
	border-radius: 50%;
	float: left;
	margin-top: 26.33px;
	margin-left: 9.8153px;
	box-shadow: 4px 3px 4px 2px rgba(0, 0, 0, 0.2);
}
	.denunciar img {
		width: 26.7773px;
		height: 17.8434px;
	}

/*.txtinfocomentario {
	width: 319.9px;
	height: 17.2645px;
	float: left;
	margin-top: 28.33px;
	margin-left: 94px;
	text-align: center;
	color: rgb(153, 153, 153);
}*/

.btcomentario {
	width: 33.9145px;
	height: 33.9145px;
	border-radius: 50%;
	float: left;
	margin-top: 17.7px;
	margin-left: 4px;
	background-color: rgba(236, 233, 98, 1);
	box-shadow: 4px 3px 4px 2px rgba(0, 0, 0, 0.2);
}
	.btcomentario img {
		width: 14.8746px;
		height: 14.8433px;
		padding-top: 9.5px;
	}





